<!DOCTYPE html>
<html>

<head>
    
    <!-- <meta charset='utf-8'> -->
    <!-- <meta http-equiv='X-UA-Compatible' content='IE=edge'> -->
    <title>Pagina principal</title>
    <!-- <meta name='viewport' content='width=device-width, initial-scale=1'> -->
    {% load static %}
    <link href="{% static 'estilos.css' %}", rel="stylesheet"/>
    <!-- <script src='main.js'></script> -->
</head>

<body>
    <h1>Bienvenido a la página principal de la calculadora</h1>
    <h2>Para usar la calculadora debes usar la extensión "RestMan" en tu navegador.</h2>
    <h3>Las extensiones de la calculadora son las siguientes:</h3>
    <p>/Suma</p>
    <p>/Resta</p>
    <p>/Multiplicación</p>
    <p>/División</p>

</body>

</html>